* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(45deg, #dad873, #efeeb4);
}
section .aside {
  min-height: 100vh;
  // background: green;
  flex: 2;
}
section .main {
  // background: red;
  flex: 8;
  min-height: 100vh;
  display: flex;
}
.main .video_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.video_box h2 {
  font-size: 30px;
  margin-top: 2vw;
  padding: 10px 40px;
}
.video_box p {
  padding: 0 30px;
  text-align: justify;
}
.video_box h2,
p {
  color: #454d66;
  text-shadow: 5px 5px 5px #dad873;
}
.video_cover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  margin-top: 40px;
  cursor: pointer;
  box-shadow: 5px 5px 10px #454d66;
  border-radius: 20px;
}

.video_cover img {
  position: relative;
  width: 25vw;
  border-radius: 20px;
  border: 5px solid #309975;
}
.video_cover::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  inset: 0;
  background: #efeeb4;
  z-index: 2;
  opacity: 0;
}
.video_cover:hover::before {
  opacity: 0.5;
  transition: all 0.5s;
}
.video_cover:hover {
  transform: scale(1.05) translateX(5px);
  filter: blur(0.3px);
  transition: all 0.5s;
  .video_icon img {
    opacity: 0;
    transition: 0.1s;
  }
}
.video_cover:active {
  transform: translateY(10px);
}
.video_icon {
  position: absolute;
  cursor: pointer;
}
.video_icon img {
  border: none;
  width: 6vw;
  position: relative;
  z-index: 3;
}
.display_none {
  display: none;
}
.modal_video {
  overflow-y: hidden;

  // display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(57, 57, 57, 0.521);
  z-index: 9;
  // }
}

.modal_video #close_button {
  position: fixed;
  display: block;
  top: 20px;
  right: 20px;
  z-index: 15;
  width: 40px;
  transition: 0.3s;
  cursor: pointer;
  svg {
    fill: #1b1b1b;
  }
}
.modal_video #close_button svg:hover {
  background: #3635358b;
  border-radius: 50%;
  fill: rgba(233, 55, 55, 0.733);
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
  transition: all 0.3s;
}
.modal_video #close_button svg:active {
  transform: translateY(5px);
  transition: all 0.3s;
}
#video_modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  justify-content: center;
  align-items: center;
}
iframe {
  width: 60vw;
  height: 37vw;
}

@media screen and (orientation: portrait) {
  section .main {
    flex-direction: column;
    justify-content: center;
  }
  .video_cover img,
  .video_cover {
    width: 60vw;
  }
  .video_icon img {
    width: 15vw;
  }
  section .aside {
    display: none;
  }
  .video_box h2 {
    padding: 10px 10vw;
  }
  .video_box p {
    padding: 0 10vw;
  }
  iframe {
    width: 95vw;
    height: 55vw;
  }
}
